<app-formulaire [show]="onLine" [live]="onLine" (ajout)="add($event)"></app-formulaire>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>

<app-navigation></app-navigation>

<app-filtres (limite)="limiter($event)" (filtre)="filtrer($event)"></app-filtres>

<ngb-carousel>
  <ng-template ngbSlide *ngFor="let col of collegues | filtre:filtre | slice:0:limite">
    <img src="{{col.imageUrl}}" height="100%" width="100%" routerLink="/detail/{{col.pseudo}}">
    <div class="carousel-caption">
      <div class="alert alert-light">
        <h1 [innerHTML]="col.score | score"></h1>
        <h2>{{col.pseudo | uppercase}}</h2>
      </div>
      <app-un-collegue [collegue]="col" (supp)="del($event)" (aimer)="like($event)" (hair)="hate($event)"></app-un-collegue>
    </div>
  </ng-template>
</ngb-carousel>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>