<app-formulaire [show]="onLine" [live]="onLine" (ajout)="add($event)"></app-formulaire>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>

<app-navigation></app-navigation>

<app-filtres (limite)="limiter($event)" (filtre)="filtrer($event)"></app-filtres>

<div class="col-3 float-sm-right">
  <app-vue-historique [historique]="historique" (suppHisto)="deleteHistory($event)"></app-vue-historique>
</div>

<div class="row ml-3 mt-3 mr-3">
  <div class="card ml-2 mt-2 mr-2" *ngFor="let col of collegues | filtre:filtre | slice:0:limite">
    <div class="card-header">
      <div class="row justify-content-md-center">
        <img src="{{col.imageUrl}}" height="200" width="200" routerLink="/detail/{{col.pseudo}}">
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-md-center">
        {{col.pseudo | uppercase}}
      </div>
      <div class="row justify-content-md-center">
        <strong [innerHTML]="col.score | score"></strong>
      </div>
    </div>
    <div class="card-footer">
      <div class="row justify-content-md-center">
        <app-un-collegue [collegue]="col" [active]="onLine" (comm)="comment($event)"></app-un-collegue>
      </div>
    </div>
  </div>
</div>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>