<app-formulaire [show]="false" [live]="onLine"></app-formulaire>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>

<button class="btn btn-outline-primary" routerLink="/classique">Retour</button>

<div class="row">
  <img src="{{tmpCollegue.imageUrl}}" height="100%" width="100%">
</div>

<div class="row justify-content-center">
  <h1>{{tmpCollegue.pseudo | uppercase}}</h1>
</div>
<div class="row justify-content-center">
  <h2 [innerHTML]="tmpCollegue.score | score"></h2>
</div>
<div class="row justify-content-center mb-5">
  <app-un-collegue [collegue]="tmpCollegue" [active]="onLine" (supp)="del($event)" (aimer)="like($event)" (hair)="hate($event)"></app-un-collegue>
</div>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>