<div class="card ml-2 mt-2 mr-2">
  <div class="card-header">
      Ici, une image (bientôt)
  </div>
  <div class="card-body">
    <div class="row justify-content-md-center">
      {{collegue.pseudo}}
    </div>
    <div class="row justify-content-md-center">
      <strong>{{collegue.score}}</strong>
    </div>
  </div>
  <div class="card-footer">
      <button (click)="jaime()" class="btn btn-outline-primary">J'aime</button>
      <button (click)="jedeteste()" class="btn btn-outline-danger">Je déteste</button>
  </div>
</div>
