<div class="card ml-2 mt-2 mr-2">
  <div class="card-header">
    <img *ngIf="collegue.imageUrl != ''" src="{{collegue.imageUrl}}" height="150" width="150">
    <img *ngIf="collegue.imageUrl == ''" [src]="'assets/images/avatar.jpg'" height="150" width="150">
  </div>
  <div class="card-body">
    <div class="row justify-content-md-center">
      {{collegue.pseudo}}
    </div>
    <div class="row justify-content-md-center">
      <strong>{{collegue.score}}</strong>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="jaime()" class="btn btn-outline-primary">J'aime</button>
    <button (click)="jedeteste()" class="btn btn-outline-danger">Je déteste</button>
  </div>
</div>
