<app-formulaire [status]="status" [tmpCollegue]="tmpCollegue" (ajout)="add($event)"></app-formulaire>

<app-navigation></app-navigation>

<div class="row ml-3 mt-3 mr-3">
  <label>Limite</label>
  <input type="number" class="form-control col-1 ml-2" (keyup)="limiter(lim)" value="0" #lim>
</div>

<table class="table ml-3 mt-3 mr-3">
  <thead>
    <tr>
      <th></th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let col of collegues">
      <td>
        <img src="{{col.imageUrl}}" height="50" width="50" routerLink="/detail/{{col.pseudo}}">
      </td>
      <td>{{col.pseudo | uppercase}}</td>
      <td>{{col.score}}</td>
      <td>
        <app-un-collegue [collegue]="col" (supp)="del($event)" (aimer)="like($event)" (hair)="hate($event)"></app-un-collegue>
      </td>
    </tr>
  </tbody>
</table>