<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let col of collegues">
      <td>
        <img src="{{col.image}}" height="50" width="50">
      </td>
      <td>{{col.pseudo}}</td>
      <td>{{col.score}}</td>
      <td>
        <app-un-collegue [collegue]="col" (supp)="del($event)" (aimer)="like($event)" (hair)="hate($event)"></app-un-collegue>
      </td>
    </tr>
  </tbody>
</table>