<app-formulaire [show]="onLine" [live]="onLine" (ajout)="add($event)"></app-formulaire>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>

<app-navigation></app-navigation>

<app-filtres (limite)="limiter($event)" (filtre)="filtrer($event)"></app-filtres>

<div class="col-3 float-sm-right">
  <app-vue-historique [historique]="historique" (suppHisto)="deleteHistory($event)"></app-vue-historique>
</div>

<div class="col-9">
<table class="table ml-3 mt-3 mr-3">
  <thead>
    <tr>
      <th></th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let col of collegues | filtre:filtre | slice:0:limite">
      <td>
        <img src="{{col.imageUrl}}" height="50" width="50" routerLink="/detail/{{col.pseudo}}">
      </td>
      <td>{{col.pseudo | uppercase}}</td>
      <td [innerHTML]="col.score | score"></td>
      <td>
        <app-un-collegue [collegue]="col" [active]="onLine" (comm)="addComment($event)"></app-un-collegue>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-status [status]="status" [tmpCollegue]="tmpCollegue"></app-status>